@import url("https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates&display=swap&subset=latin-ext");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

:root {
  --first-color: #373f51;
  --second-color: #a9bcd0;
  --third-color: #dce9f6;
  --fourth-color: #f9f9fb;
  --white-color: #fff;
  --red-color: #E60000;
}

html {
  color: var(--first-color);
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

textarea {
  resize: none;
}

.wrong {
  color: var(--red-color);
  font-weight: 800;
}

.cogni {
  font-size: 1.4rem;
  letter-spacing: 0.15rem;
  font-weight: 300;
  font-family: "Montserrat Alternates", sans-serif;
  text-transform: uppercase;
}

.d-flex {
  display: flex;
}

.d-center {
    align-items: center;
}

.f-wrap {
  flex-wrap: wrap;
}

.f-space-between {
  justify-content: space-between;
}

.mt-10 {
  margin-top: 0.4rem;
}

.mt-20 {
  margin-top: 2rem;
}

.t-center {
  text-align: center;
}

.lowercase {
  text-transform: none;
}

body {
  background-color: var(--first-color);
}

p {
  margin-bottom: 5px;
}

#page-nav {
  position: sticky;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--first-color);
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}

#page-nav #nav-panel {
  position: absolute;
  left: 20px;
  font-size: 1.4rem;
  color: var(--white-color);
  cursor: pointer;
}

#aside-nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  padding: 50px 5px;
  background-color: var(--first-color);
  color: var(--white-color);
  transform: translateX(-150px);
  transition: 0.3s;
}

#aside-nav.visible {
  transform: translateX(0);
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.3);
}

#aside-nav ul li {
  text-align: center;
  max-width: 100px;
  padding: 15px 5px;
  cursor: pointer;
  transition: 0.3s;
}

#aside-nav ul li:not(:last-of-type) {
  border-bottom: 1px solid rgba(169, 188, 208, 0.3);
}

#aside-nav ul li:hover {
  color: var(--third-color);
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.4);
}

#aside-nav ul li .icon {
  font-size: 2rem;
}

#aside-nav ul li .name {
  font-size: 0.8rem;
}

#page-nav #account-panel {
  position: absolute;
  right: 20px;
  font-size: 1.4rem;
  color: var(--white-color);
  cursor: pointer;
}

#page-nav #account-panel i {
  transition: 0.3s;
}

#page-nav #account-panel.active i {
  transform: rotate(180deg);
}

#page-nav #account-panel #account-panel-menu {
  position: absolute;
  visibility: hidden;
  top: 30px;
  right: -10px;
  color: var(--first-color);
  background-color: var(--white-color);
  opacity: 0;
  padding: 10px 10px;
  border-radius: 4px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

#page-nav #account-panel #account-panel-menu::after {
  content: "";
  position: absolute;
  transform: translateY(-100%);
  top: 0;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 5px solid var(--white-color);
}

#page-nav #account-panel #account-panel-menu a {
  display: block;
  font-size: 1rem;
  padding: 5px 10px;
  white-space: nowrap;
  text-align: center;
}

#page-nav #account-panel.active #account-panel-menu {
  visibility: visible;
  opacity: 1;
}

#main-offer {
  background-image: linear-gradient(
    -3deg,
    var(--third-color) 110px,
    var(--second-color) 112px
  );
}

#main-offer main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  padding: 60px 45px 145px;
}

#main-offer main section {
  flex-basis: 25%;
}

#main-offer main section figure {
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 1s;
}

#main-offer main section figure img {
  height: 250px;
}

#main-offer main section figcaption {
  text-align: center;
  padding-top: 1rem;
}

#main-article {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 40px;
  background-color: var(--third-color);
}

#main-article article {
  transition: 1s;
}

#try-now {
  background-color: transparent;
  font-family: inherit;
  border: none;
  font-size: inherit;
  color: inherit;
  padding: 15px 30px;
  width: 220px;
  margin: 30px auto 40px;
  position: relative;
  cursor: pointer;
  display: block;
  transition: 1s;
}

#try-now::after,
#try-now::before {
  height: 1px;
  background-color: var(--second-color);
  display: block;
  width: 220px;
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  transition: 0.2s;
}

#try-now::after {
  top: 0;
  transform: translateX(18px);
}

#try-now::before {
  bottom: 0;
  transform: translateX(-18px);
}

#try-now:hover::before,
#try-now:hover::after {
  transform: translateX(0);
}

body > section > section > :first-child {
  max-width: 1400px;
  width: 100%;
  margin: 0px auto;
  padding-left: 45px;
  padding-right: 45px;
}

#cogni-functions {
  color: var(--white-color);
  background-color: var(--first-color);
  padding-top: 40px;
  padding-bottom: 60px;
}

a {
  color: inherit;
  text-decoration: none;
  transition: text-shadow 0.3s;
}

a:hover, #speechBtn:hover {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}

#article-register-btn {
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

#app-panel,
#login-form {
  background-color: var(--second-color);
  margin: auto;
  padding: 60px 45px;
  display: flex;
  flex-direction: column;
}

#login-form {
  height: calc(100vh - 48px);
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#login-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -100px;
}

#login-form form input {
  display: block;
}

#app-panel .recent {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  margin-right: -20px;
  margin-left: -20px;
}

.flash-prev {
  cursor: pointer;
  display: flex;
  background-color: var(--fourth-color);
  border-radius: 3px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 100%;
  flex-basis: calc(33% - 40px);
  margin-bottom: 30px;
  margin: 0px 20px 30px;
  transition: box-shadow 0.2s;
  min-width: 315px;
  flex-grow: 1;
}

.flash-prev:hover {
  text-shadow: none;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.flash-img {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  margin-right: 5px;
}

.flash-img img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flash-prev .flash-description {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flash-prev .flash-description h3 {
  margin-bottom: 5px;
}

.flash-prev .flash-description .flash-autor {
  height: 50px;
}

.flash-prev .flash-description .flash-autor img {
  height: 100%;
}

h2 {
  text-transform: uppercase;
  font-weight: 300;
  color: var(--white-color);
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  font-weight: 800;
  letter-spacing: 1px;
}

h2.load-more {
  font-size: 1.1rem;
  text-align: center;
  margin: auto;
  font-weight: 300;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  margin-top:-15px;
}

h2.load-more .icon {
  position: absolute;
  top: 0;
  cursor: pointer;
  font-size: 0.9rem;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(100%);
  transition: transform 0.3s;
}

h2.load-more:hover {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

#app-panel article > section {
  margin-bottom: 30px;
}

#app-panel {
  min-height: calc(100vh - 48px);
}

#categories,
#ranking {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

#categories .category-prev {
  padding: 10px 20px;
  cursor: pointer;
  flex-grow: 1;
  text-align: center;
  /* margin-right: auto;
  margin-left: auto; */
}

/* #ranking {
  flex-wrap: nowrap;
} */

#ranking .user-prev {
  padding: 10px 20px 10px 10px;
  display: flex;
  flex-basis: calc(20% - 20px);
  flex-grow: 1;
}

#ranking .user-prev .left {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

#ranking .user-prev .right {
  display: flex;
  flex-direction: column;
}

#categories,
#ranking {
  padding-bottom: 30px;
}

.user-prev,
.category-prev {
  background-color: var(--fourth-color);
  border-radius: 3px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

input,
textarea,
select,
option {
  font-size: 1rem;
  font-family: inherit !important;
  border: 1px solid #a9a9a9;
  border-radius: 3px;
}

#login-form input, #answerInput, #answerBtn,
#create-study-set-form input,
#create-study-set-form select,
#create-study-set-form select option,
#create-study-set-form textarea {
  padding: 10px;
}

#login-from label,
#create-study-set-form label {
  font-size: 1.2rem;
  color: var(--white-color);
  text-shadow: 0px 0px 5px rgba(0, 0, 0.3);
}

#create-study-set-form label {
  margin-bottom: 20px;
  display: block;
}

#login-form label {
  margin-bottom: 10px;
  min-width: 260px;
  flex-basis: 80%;
}

#login-form label input, #answerInput,
#create-study-set-form label input,
#create-study-set-form textarea,
#create-study-set-form select,
#create-study-set-form select option {
  margin-top: 5px;
  width: 100%;
  border: 1px solid rgba(55, 63, 81, 0.6);
}

input[type="submit"] {
  background-color: transparent;
  border-style: solid;
}

#login-form input[type="submit"],
#create-study-set-form input[type="submit"] {
  margin-top: 10px;
  min-width: 260px;
  flex-basis: 80%;
  background-color: var(--first-color);
  color: var(--white-color);
  border: 2px solid rgba(55, 63, 81, 0.6);
  cursor: pointer;
  transition: 0.3s;
}

#login-form input[type="submit"]:hover,
#create-study-set-form input[type="submit"]:hover {
  background-color: transparent;
  color: var(--first-color);
  font-weight: 800;
}

form .form-group {
  display: flex;
  justify-content: space-between;
  margin-right: -15px;
  margin-left: -15px;
}

form .form-group > * {
  margin-right: 15px;
  margin-left: 15px;
  flex-basis: 50%;
}

#create-study-set-from textarea {
  height: 79px;
}

.new-flashcard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white-color);
  border-radius: 3px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.new-flashcard:focus {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

.new-flashcard > input,
#new-flashcards.show span {
  flex-basis: 50%;
  margin: 20px;
  background-color: transparent;
  border-top: none;
  border-right: none;
  transition: border 0.2s;
}

.new-flashcard > input:focus {
  outline: none;
  border-color: var(--first-color);
}

.new-flashcard .counter {
  font-size: 1.8rem;
  font-weight: 800;
  margin-left: 20px;
  text-align: center;
}

#new-flashcards.c-40 .new-flashcard .counter {
  width: 40px;
}

#new-flashcards.c-50 .new-flashcard .counter {
  width: 50px;
}

#new-flashcards.c-60 .new-flashcard .counter {
  width: 60px;
}

#createnewdiv {
  text-align: center;
}

h2#createnew {
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.3s;
  display: inline-block;
}

h2#createnew:hover {
  color: var(--first-color);
  text-shadow: none;
}

#submitdiv {
  text-align: right;
}

#create-study-set-form input[type="submit"] {
  display: inline-block;
  min-width: 180px;
}

.studysetinfo {
  margin: 0px -3px 20px;
  font-size: 0.9rem;
}

.studysetdescription {
  font-weight: 800;
}

.studysetinfo span {
  margin: 0px 3px;
}

h2.smaller {
  font-size: 1.2rem;
}

.studysetinfo.normal {
  font-size: 1.3rem;
}

#new-flashcards.show {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -10px;
  justify-content: center;
}

#new-flashcards.show span {
  flex-basis: auto;
}

#new-flashcards.show .new-flashcard {
  flex-basis: 40%;
  margin: 10px;
  justify-content: center;
  flex-grow: 1;
}

#app-panel article section.margin-20 {
  margin-top: -20px;
  margin-bottom: 40px;
}

.columns2 {
  display: flex;
  align-items: center;
}

.columns2 .flash-img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.columns2 .studysetinfo {
  margin-bottom: 0;
}

#learn-panel .flashcard-view {
    width: 530px;
    height: 250px;
    position: relative;
}

#learn-panel .flashcards-panel .flashcard {
    position: absolute;
    top: 0;
    left:0;
  width: 530px;
  height: 250px;
  perspective: 1000px;
    cursor: pointer;
    margin: auto;
    text-align: center;
    font-size: 1.5rem;
    display: none;
    transition: .3s;
}

#learn-panel .flashcards-panel .flashcard.active {
    display: block;
}

#learn-panel .flashcards-panel .flashcard.learned {
    transform: translateX(-100px);
    opacity: 0;
}

#learn-panel .flashcards-panel .flashcard > div {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

#learn-panel .flashcards-panel .flashcard.rotate > div {
  transform: rotateY(-180deg);
}

#learn-panel .flashcards-panel .flashcard .front,
#learn-panel .flashcards-panel .flashcard .back {
  position: absolute;
  width: 100%;
	height: 100%;
	padding: 10px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  color: var(--first-color);
	font-weight: 800;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
}

#learn-panel .flashcards-panel .flashcard .back {
  transform: rotateY(-180deg);
}

#learn-panel .flashcards-panel {
	margin: 20px 0;
	width: 100%;
}

.flashcards-panel {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flashcards-panel.flashcards-panel-write{
  flex-direction: column;
}

#learn-panel .flashcards-panel.flashcards-panel-write .flashcard {
  padding: 10px 25px;
  justify-content: center;
  align-items: center;
  font-weight: 800;
}

#learn-panel .flashcards-panel.flashcards-panel-write .flashcard.active {
  display: flex;
}


#learn-panel .flashcards-panel.flashcards-panel-write .flashcard .front {
  background-color: transparent;
  box-shadow: none;
}

#answerInput {
  width: calc(100% - 100px);
  margin-top: 0;
}

#answerBtn {
  border: 1px solid var(--first-color);
  background-color: var(--first-color);
  color: var(--white-color);
  cursor: pointer;
  transition: .3s;
}

#answerBtn:hover {
  background-color: transparent;
  color: var(--first-color);
}

.flashcards-panel.flashcards-panel-write #answer {
  width: 530px;
}

#errorMessage {
  min-height: 19px;
}

#app-panel article .flashcards-panel > section {
	margin-bottom: 0;
}

.flashcards-panel #prev, 
.flashcards-panel #next {
	margin: 0 30px;
	width: 30px;
	font-size: 2.5rem;
	cursor: pointer;
	color: white;
	transition: .3s;
}

.flashcards-panel #prev:hover, .flashcards-panel #next:hover {
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.flashcards-panel #prev:hover {
	transform: translateX(-2px);
}

.flashcards-panel #next:hover {
	transform: translateX(2px);
}

.learning-settings {
    margin-left: auto;
    text-align: center;
}

.learning-settings .btn {
    padding: 3px;
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--first-color);
    text-shadow: none;
    transition: .3s;
}

.learning-settings .btn:hover {
    color: var(--fourth-color);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}

h2.learning {
    display: flex;
}

#speechBtn {
    line-height: 1rem;
    font-size: 1rem;  
    cursor: pointer;
    transition: .2s;  
}

#cogni-functions .d-flex.f-wrap {
  margin-right: -10px;
  margin-left: -10px;
}

#cogni-functions .d-flex.f-wrap > p {
  padding: 0px 10px;
  text-align:center;
}

/* RWD */
@media screen and (max-width: 1200px) {
  #main-offer main {
    justify-content: center;
    padding: 60px 0px 145px;
  }
  #main-offer main section {
    margin: 0px 40px 60px;
  }
}

@media screen and (max-width: 950px) {
  .flash-prev{
    flex-basis: 100%;
  }
  
}

@media screen and (max-width: 740px) {
  #cogni-functions .d-flex.f-wrap {
    align-items: center;
    flex-direction: column;
  }
  body > section > section > :first-child {
    padding-right: 0;
    padding-left: 0;
  }
  html{
    font-size: 14px;
  }
  #login-form {
    height: calc(100vh - 44px);
  }
}

@media screen and (max-width: 600px){
  #ranking .user-prev {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 500px) {
  #app-panel {
    padding: 35px 20px;
  }
  #login-form{
    padding: 0px 15px;
  }
}

@media screen and (max-width: 400px) {
  #main-offer main section {
    flex-basis: 100%;
  }
  #main-offer main section figure img {
    height: auto;
    width: 100%;
  }
  .flash-img {
    display: none;
  }
  .flash-prev {
    min-width: auto;
  }
}

@media screen and (max-width: 320px) {
  #try-now, #try-now::after, #try-now::before{
    width: 100%;
  }
}

div:focus, a:focus {
  outline: none;
}